<mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 w-full rounded-[12px] shadow-none outline outline-1 outline-gray-300">
    <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-4 py-6 w-full md:h-full h-32">
        <p class="p-0 m-0 text-5xl md:text-5xl font-black text-thuas-groen-base">{{ keyCard.metric }}</p>
    </div>
    <div class="px-5">
        <h2 class="font-medium text-black/60">{{ keyCard.label }}</h2>
    </div>
</mat-card>
