<div class="px-5 pt-5">
  <div class="flex flex-row w-full">
    <div class="flex flex-row w-full items-center justify-start">
      <h1 class="font-medium p-0 m-0">All videos</h1>
    </div>

    <!-- DROPDOWN FIELD -->
    <div class="flex flex-row w-full items-center justify-end">
      <mat-form-field appearance="outline" color="accent" class="mb-[-1.25em]">
        <mat-label>Select a video</mat-label>
        <mat-select disabled="true" [(value)]="selectedAssignment">
          <mat-option value="option1">All videos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
    
  <mat-divider class="my-5 mb-10"></mat-divider>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mt-2 mb-5">
    <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
      <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
        <apx-chart
          [series]="LiveViews.series"
          [labels]="LiveViews.labels"
          [chart]="LiveViews.chart"
          [responsive]="LiveViews.responsive"
          [fill]="LiveViews.fill"
          [legend]= "LiveViews.legend"
        ></apx-chart>
      </div>
      <div class="px-5">
        <h3 class="font-medium text-black/60 leading-none text-center">Live Views</h3>
      </div>
    </mat-card>

    <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
      <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
        <apx-chart
          [series]="OndemandViews.series"
          [chart]="OndemandViews.chart"
          [labels]="OndemandViews.labels"
          [responsive]="OndemandViews.responsive"
          [fill]="OndemandViews.fill"
          [legend]= "OndemandViews.legend"
        ></apx-chart>
      </div>
      <div class="px-5">
        <h3 class="font-medium text-black/60 leading-none text-center">On Demand Views</h3>
      </div>
    </mat-card>

    <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
      <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
        <apx-chart
          [series]="TotalViews.series"
          [chart]="TotalViews.chart"
          [responsive]="TotalViews.responsive"
          [fill]="TotalViews.fill"
          [labels]="TotalViews.labels"
          [legend]= "TotalViews.legend"
        ></apx-chart>
      </div>
      <div class="px-5">
        <h3 class="font-medium text-black/60 leading-none text-center">Total Views</h3>
      </div>
    </mat-card>

    <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
      <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
        <apx-chart
          [series]="PresentationsWatched.series"
          [chart]="PresentationsWatched.chart"
          [labels]="PresentationsWatched.labels"
          [responsive]="PresentationsWatched.responsive"
          [fill]="PresentationsWatched.fill"
          [legend]= "PresentationsWatched.legend"
        ></apx-chart>
      </div>
      <div class="px-5">
        <h3 class="font-medium text-black/60 leading-none text-center">Presentation Watched</h3>
      </div>
    </mat-card>

    <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
      <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 py-5 w-full h-full">
        <apx-chart
          [series]="TimeSpent.series"
          [chart]="TimeSpent.chart"
          [labels]="TimeSpent.labels"
          [grid]="TimeSpent.grid"
          [legend]= "TimeSpent.legend"
          [plotOptions]="TimeSpent.plotOptions"
          [responsive]="TimeSpent.responsive"
          [fill]="TimeSpent.fill">
        </apx-chart>
      </div>
      <div class="px-5">
        <h3 class="font-medium text-black/60 leading-none text-center">Total Time</h3>
      </div>
    </mat-card>
  </div>
</div>