<div class="px-5 pt-5">
  <div class="flex flex-row w-full">
    <div class="flex flex-row w-full items-center justify-start">
      <h1 class="font-medium p-0 m-0">All videos</h1>
    </div>

    <!-- DROPDOWN FIELD -->
    <!--
    <div class="flex flex-row w-full items-center justify-end">
      <mat-form-field appearance="outline" color="accent" class="mb-[-1.25em]">
        <mat-label>Select a video</mat-label>
        <mat-select disabled="true" [(value)]="selectedAssignment">
          <mat-option value="option1">All videos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
  </div>
    
  <mat-divider class="my-5 mb-10"></mat-divider>
  
  <ng-container *ngIf="keyCardLiveViews != undefined">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mt-2 mb-5">
      <app-card-key-number [keyCard]="keyCardLiveViews"></app-card-key-number>
      <app-card-key-number [keyCard]="keyCardOnDemandViews"></app-card-key-number>
      <app-card-key-number [keyCard]="keyCardTotalViews"></app-card-key-number>
      <app-card-key-number [keyCard]="keyCardPresentations"></app-card-key-number>
      <app-card-key-number [keyCard]="keyCardTimeSpent"></app-card-key-number>
    </div>
  </ng-container>

  <ng-container *ngIf="keyCardLiveViews == undefined">
    <app-error-message></app-error-message>
  </ng-container>
</div>