<mat-toolbar color="primary" class="flex justify-center w-full p-0">
    <div class="flex w-full h-full max-w-screen-xl px-5 md:px-10">

        <div class="flex gap-1 h-full items-center align-middle justify-center">
            <a class="w-max" routerLink="/start">
                <img class="h-[1.1rem] object-cover" src="../../../assets/img/logo.png">
            </a>
            <mat-icon class="-mb-[1px]">chevron_right</mat-icon>
            <!--<div class="h-5 w-[1.5px] ml-3 mr-2 rounded-lg bg-white"></div>-->
            <h1 class="m-0 -mb-[1px] p-0 font-medium text-xl">
                {{ currentPage }}
            </h1>
        </div>

        <div class="flex w-full justify-end">
            <div class="flex justify-end gap-4 items-center">
                <!--
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notification Menu">
                    <mat-icon>notifications</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>hourglass_bottom</mat-icon>
                        <span>
                            Upcoming deadline
                        </span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>hourglass_bottom</mat-icon>
                        <span>
                            Upcoming Deadline
                        </span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>sentiment_dissatisfied</mat-icon>
                        <span>
                            Student is failing
                        </span>
                    </button>
                </mat-menu>-->

                <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Notification Menu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #profileMenu="matMenu">
                    <a routerLink="/your-profile">
                        <button mat-menu-item>
                            <mat-icon>person</mat-icon>
                            <span>
                                My Profile
                            </span>
                        </button>
                    </a>
                    <button (click)="enableTheme()" mat-menu-item>
                        <mat-icon>{{ themeIcon }}</mat-icon>
                        <span>
                            {{ themeTitle }}
                        </span>
                    </button>
                    <!--
                    <button mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <span>
                            Logout
                        </span>
                    </button> -->
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>