<div class="relative w-full">
    <div class="absolute w-full -top-3">
        <div class="flex w-full justify-center">
            <div class="z-50 w-16 h-16 rounded-[12px] outline outline-1 outline-gray-300 bg-gray-100">
                <div class="flex justify-center align-middle items-center w-full h-full">
                    <p class="text-4xl m-0 p-0">
                        😕
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center w-full mt-6 pt-5 mb-5">
    <mat-card class="p-5 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300 pt-10 bg-gray-50 max-w-md">
        <h1 class="text-center font-medium mb-2 text-thuas-grijs-base ">There is no data</h1>
        <p class="text-center text-[#626262]">The reason for this may be an incomplete data set.</p>
    </mat-card>
</div>