<div class="bg-white p-4 rounded-[12px] pt-5">
    <!-- KEY-CARDS -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
        <app-card-key-number [keyCard]="keyCardGrade"></app-card-key-number>
        <app-card-key-number [keyCard]="keyCardTime"></app-card-key-number>
        <app-card-key-number [keyCard]="keyCardAttendance"></app-card-key-number>
    </div>

    <!-- THE DIFFERENT CARDS -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-6 sm:auto-rows-fr sm:auto-cols-fr">
        <ng-container *ngFor="let assignment of studentAssignments">
            <app-card-copy [assignment]="assignment"></app-card-copy>
        </ng-container>
    </div>
</div>