<app-container>
    <h1 class="font-medium">All assignments</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mb-10 sm:auto-rows-fr sm:auto-cols-fr">
        <ng-container *ngFor="let assignment of assignmentList">
            <app-card-copy [assignment]="assignment"></app-card-copy>
        </ng-container>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
            <div class="flex justify-center align-middle items-center bg-gray-200 rounded-t-[12px] p-5 md:p-10 w-full h-full">
            <p class="p-0 m-0 text-6xl md:text-7xl font-black text-thuas-groen-base">5.1</p>
            </div>
    
            <div class="px-5">
            <h2 class="font-medium text-black/60">Average Grade</h2>
            </div>
        </mat-card>
    
        <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
            <div class="flex justify-center align-middle items-center bg-gray-200 rounded-t-[12px] p-4 w-full md:h-full h-52">
            <p class="p-0 m-0 text-6xl md:text-7xl font-black text-thuas-groen-base">122</p>
            </div>
    
            <div class="px-5">
            <h2 class="font-medium text-black/60">Time spent (min)</h2>
            </div>
        </mat-card>
    </div>
</app-container>
