<div class="flex flex-col container mx-auto md:py-10 py-5 max-w-screen-2xl">
    <!-- ASSIGNMENTS -->
    <h1 class="font-medium">Assignments</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8 sm:auto-rows-fr sm:auto-cols-fr">
        <ng-container *ngFor="let assignment of assignmentList">
            <app-card-assignment [assignment]="assignment"></app-card-assignment>
        </ng-container>
    </div>

    <mat-divider class="my-10"></mat-divider>

    <!-- TABLE -->
    <h1 class="font-medium">List Of Students</h1>
    <div class="p-0 outline outline-1 outline-gray-200 bg-white rounded-[12px]">
        <table mat-table [dataSource]="dataSource" matSort class="outline-1 w-full rounded-[12px]">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" class="text-base text-black/80 rounded-[12px]">
                    Name
                </th>
                <td mat-cell *matCellDef="let student" class="text-black/80"> {{student.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID" class="text-base text-black/80">
                    ID
                </th>
                <td mat-cell *matCellDef="let student" class="text-black/80"> {{student.studentID}} </td>
            </ng-container>
            <ng-container matColumnDef="gradems">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gradems" class="text-base text-black/80">
                    Mediasite
                </th>
                <td mat-cell *matCellDef="let student" class="text-black/80">
                    <div class="flex flex-row items-center gap-2">
                        <mat-icon class="{{setFlag(5).colorFont}}">{{setFlag(5).icon}}</mat-icon>
                        5
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="gradeff">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gradeff" class="text-base text-black/80">
                    Feedback Fruits
                </th>
                <td mat-cell *matCellDef="let student" class="text-black/80">
                    <div class="flex flex-row items-center gap-2">
                        <mat-icon class="{{setFlag(10).colorFont}}">{{setFlag(10).icon}}</mat-icon>
                        10
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="gradeaa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gradeaa" class="text-base text-black/80">
                    Academic Attendance
                </th>
                <td mat-cell *matCellDef="let student" class="text-black/80">
                    <div class="flex flex-row items-center gap-2">
                        <mat-icon fontSet="material-icons-outlined" class="{{setFlag(1).colorFont}}">{{setFlag(1).icon}}</mat-icon>
                        1
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="hover:bg-black/5 cursor-pointer" mat-row (click)="navigate(row.studentID)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons 
            aria-label="Select page of students"
            class="rounded-[12px]">
        </mat-paginator>
    </div>
</div>

