<app-container>   
    <div class="flex flex-col md:flex-row gap-10">
        <mat-card class="w-full md:w-4/12">
            <div class="flex flex-rows-2 gap-5">
                <div class="w-36 h-36 rounded-lg bg-thuas-groen-lighter">
                    <div class="flex w-full h-full items-center justify-center">
                        <p class="text-5xl font-medium text-thuas-grijs-base m-0 p-0 tracking-wide">JD</p>
                    </div>
                </div>
                <div class="flex h-full flex-col align-middle gap-1">
                    <h2>Student</h2>
                    <div class="flex items-center gap-2">
                        <mat-icon>face</mat-icon>
                        <h4 class="m-0 p-0">Jon Doe</h4>
                    </div>
    
                    <div class="flex items-center gap-2">
                        <mat-icon class="scale-75">alternate_email</mat-icon>
                        <h4 class="m-0 p-0">jdoe@stud.hhs.nl</h4>
                    </div>
                    <div class="flex items-center gap-2">
                        <mat-icon>123</mat-icon>
                        <h4 class="m-0 p-0">2021455892</h4>
                    </div>
                </div>
            </div>  
        </mat-card>

        <mat-card class="w-full md:w-8/12">
            <div class="flex">
                Notes
            </div>
        </mat-card>

    </div>

    <mat-divider class="my-10"></mat-divider>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Feedback Fruits">
            Feedback Fruits Data
        </mat-tab>
        <mat-tab label="Media Site">
            Media Site Data
        </mat-tab>
    </mat-tab-group>

</app-container>
