<app-container>   
    <div class="flex flex-col lg:flex-row gap-5">
        <div class="flex flex-col gap-5">
            <!-- ID-CARD -->
            <mat-card id="" class="w-full lg:w-80 xl:w-96 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex flex-rows-2 gap-5">
                    <div class="w-32 h-32 rounded-lg bg-thuas-groen-lighter">
                        <div class="flex w-full h-full items-center justify-center">
                            <p class="text-5xl font-medium text-thuas-grijs-base m-0 p-0 tracking-wide">{{ studentAcronym }}</p>
                        </div>
                    </div>
                    <div class="flex h-32 flex-col align-middle gap-1">
                        <h2 class="mb-3">Student</h2>
                        <div class="flex items-center gap-2">
                            <mat-icon class="text-[#626262]">person_round</mat-icon>
                            <h4 class="m-0 p-0">{{ student.fullName }}</h4>
                        </div>
                        <div class="flex items-center gap-2">
                            <mat-icon class="text-[#626262]">email</mat-icon>
                            <h4 class="m-0 p-0">{{ student.email }}</h4>
                        </div>
                        <div class="flex items-center gap-2">
                            <mat-icon class="text-[#626262]">badge</mat-icon>
                            <h4 class="m-0 p-0">{{ student.studentID }}</h4>
                        </div>
                    </div>
                </div>  
            </mat-card>

            <!-- NOTES -->
            <mat-card class="w-full lg:w-80 xl:w-96 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <h2>Notes for {{ student.fullName }}</h2>
                <div class="flex flex-col gap-3 mb-5">
                    <mat-card class="w-full bg-thuas-groen-base/5 rounded-[12px] shadow-none outline outline-1 outline-thuas-groen-base/30">
                        <p class="p-0 m-0 text-gray-600">Great research report but Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas illum at totam in, ab quo consequuntur tempore, dolore saepe inventore culpa, eum dolores. Odit quam fugit molestias, sed atque qui.</p>
                    </mat-card>
                </div>
                <form>
                    <mat-form-field  appearance="outline" class="w-full -mb-3 p-0">
                        <mat-label>Add Note</mat-label>
                        <textarea matInput placeholder="One of my best students!"></textarea>
                    </mat-form-field>
                    <button mat-flat-button class="bg-[#1976d2] text-white w-full uppercase text-[13px]">
                        Save note
                    </button>
                </form>
            </mat-card>
        </div>
        
        <!-- TAB-THINGY -->
        <div class="flex flex-col gap-2 w-full">
            <mat-tab-group [(selectedIndex)]="selectedTab" mat-stretch-tabs="false" mat-align-tabs="center" class="bg-white rounded-[12px] outline outline-gray-300 outline-[1px]">
                <mat-tab label="Overview">
                    <app-all-tab [overViewData]="overViewData"></app-all-tab>
                </mat-tab>
                <mat-tab label="Feedback Fruits">
                    <app-feedbackfruits-tab [feedBackList]="feedback" [criteriaList]="Criteria"></app-feedbackfruits-tab>
                </mat-tab>
                <mat-tab label="Media Site">
                    <app-mediasite-tab [mediaSiteList]="mediaSite"></app-mediasite-tab>
                </mat-tab>
                <mat-tab label="Attendance">
                    <app-attendance [attendanceList]="week"></app-attendance>
                </mat-tab>
                <mat-tab label="Stepik">
                    <app-stepik-tab></app-stepik-tab>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</app-container>