<footer aria-label="Site Footer" class="bg-thuas-grijs-base mt-auto">
    <div class="relative mx-auto max-w-screen-xl px-4 pt-10 py-8 sm:px-4 lg:px-6 lg:pt-14">
      <div class="lg:flex lg:items-end lg:justify-between">
        <div>
          <div class="flex justify-center lg:justify-start">
            <img class="w-36" src="../../../assets/img/logo_large.png">
          </div>
        </div>
  
        <nav aria-label="Footer Nav" class="mt-12 lg:mt-0">
          <ul
            class="flex flex-wrap justify-center gap-6 md:gap-8 lg:justify-end lg:gap-12"
          >
            <li>
              <a class="text-gray-100 transition hover:text-gray-100/75" routerLink="/start">
                Start
              </a>
            </li>
  
            <li>
              <a class="text-gray-100 transition hover:text-gray-100/75" routerLink="/your-profile">
                Profile
              </a>
            </li>
  
            <li>
              <a class="text-gray-100 transition hover:text-gray-100/75" href="/">
                Legal
              </a>
            </li>
          </ul>
        </nav>
      </div>
  
      <p class="mt-12 mb-1 pb-0 text-center text-sm text-gray-200 lg:text-right">
        Copyright &copy; {{currentYear}}.<br>
      </p>
      <p class="text-xs text-center text-gray-200 lg:text-right m-0 p-0" style="font-style: italic;">Made by Jun, Jungeun, Marta, Riciano, Sophie and David </p>
    </div>
  </footer>
  
