<mat-card class="h-full rounded-[12px] shadow-none outline outline-1 outline-gray-300">
    <div class="absolute w-full bottom-2 left-0">
        <div class="relative w-full px-3 pb-1">
            <div class="flex w-full justify-end">
                <button mat-flat-button class=" bg-[#1976d2] text-white w-full uppercase text-[13px]" [routerLink]="['/assignment', assignment.name]"> 
                    Go to assignment
                </button>
            </div>
        </div>  
    </div>

    <div class="mb-14">
        <div class="flex gap-5">

            <div class="flex flex-col justify-center align-middle">
                <div class="flex mb-1 h-full align-middle items-center gap-5">
                    <div class="w-6 h-6 rounded-full ring ring-2 ring-offset-1 ring-gray-200">
                        <div class="flex w-full h-full align-middle justify-center items-center">
                            <p class="font-semibold m-0 p-0">{{ assignment.grade }}</p>
                        </div>
                    </div>
                    <h3 class="p-0 leading-6 font-medium">{{ assignment.name }}</h3>
                </div>

                <mat-card-subtitle class="m-0 p-0 flex">
                    <mat-icon class="w-[24px] h-[24px] mr-2">calendar_month</mat-icon>
                    <h4 class="m-0 p-0">Week {{ assignment.week }}</h4>
                </mat-card-subtitle>
                <mat-card-subtitle class="m-0 p-0 flex">
                    <mat-icon class="w-[24px] h-[24px] text-red-500 mr-2">warning</mat-icon>
                    <h4 class="m-0 p-0">In danger</h4>
                </mat-card-subtitle>
            </div>
        </div>
    </div>
</mat-card>

