
<app-container>
    <mat-card class="bg-slate-50">
        <div class="grid md:grid-cols-2 gap-12">
            <div class="w-full h-full items-center justify-center hidden md:flex rounded-lg">
                <img class="object-contain w-full h-full" alt="" title="" src="../../../assets/img/logo.png"/>
            </div>
            <div class="flex flex-col items-center">
                <div class="flex flex-col gap-3 items-center">
                    <img class="object-cover w-16 h-16 rounded-full" alt="" title="" src="../../../assets/img/logo.png"/> 
                    <mat-card-title class="text-center text-xl font-medium">Login WOS</mat-card-title>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="w-full pt-4 gap-2 flex flex-col">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label for="email" class="font-medium">Email</mat-label>
                        <input matInput formControlName="email" type="email" class="w-full " placeholder="Enter your email" />
                        <mat-error *ngIf="getEmail()?.invalid" class="">
                            Pro tip: The email must be in a valid format.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label for="password" class="font-medium">Password</mat-label>
                        <input matInput formControlName="password" type="password" class="w-full " placeholder="Enter your password" />
                        <mat-error *ngIf="getPassword()?.invalid" class="">
                            Pro tip: The password must be at least 8 characters long.
                        </mat-error>
                    </mat-form-field>
        
                    <button mat-flat-button color="accent" type="submit" class="w-full mt-2">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </mat-card>
</app-container>