<app-container>
  <h1>Assignment: Name</h1>
    <div class="feedbackContainer">
        <div class=" grid grid-rows-1 w-full gap-5">
          <div class="flex flex-col w-full gap-3 sm:flex-row">
              <apx-chart class="w-full"
                  [series]="chartOptions.series!"
                  [chart]="chartOptions.chart!"
                  [dataLabels]="chartOptions.dataLabels!"
                  [plotOptions]="chartOptions.plotOptions!"
                  [xaxis]="chartOptions.xaxis!"
                  [title]="chartOptions.title!"
                  [fill]="chartOptions.fill!">
              </apx-chart>
          </div>
        </div>
        <div class="row sparkboxes mt-4">
          <div class="col-md-3">
            <apx-chart
              [series]="TotalReviewComments.series"
              [labels]="TotalReviewComments.labels"
              [chart]="TotalReviewComments.chart"
              [responsive]="TotalReviewComments.responsive"
              [fill]="TotalReviewComments.fill"
              [title] = "TotalReviewComments.title"
              [legend]= "TotalReviewComments.legend"
          ></apx-chart>
          </div>
          <div class="col-md-3">
            <apx-chart
            [series]="TimeSpent.series"
            [chart]="TimeSpent.chart"
            [labels]="TimeSpent.labels"
            [responsive]="TimeSpent.responsive"
            [fill]="TimeSpent.fill"
            [title] = "TimeSpent.title"
            [legend]= "TimeSpent.legend"
            ></apx-chart>
          </div>
          <div class="col-md-3">
            <apx-chart
              [series]="AvgGrade.series"
              [chart]="AvgGrade.chart"
              [responsive]="AvgGrade.responsive"
              [fill]="AvgGrade.fill"
              [labels]="AvgGrade.labels"
              [title] = "AvgGrade.title"
              [legend]= "AvgGrade.legend"
            ></apx-chart>
          </div>
          <div class="col-md-3">
              <apx-chart
                [series]="TypeFeedback.series"
                [chart]="TypeFeedback.chart"
                [labels]="TypeFeedback.labels"
                [responsive]="TypeFeedback.responsive"
                [fill]="TypeFeedback.fill"
                [legend]= "TypeFeedback.legend"
                [title] = "TypeFeedback.title"
            ></apx-chart>
          </div>
        </div>
    </div>

    <mat-divider class="my-10"></mat-divider>

    <h1 class="font-medium">List Of Students</h1>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 w-full">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Name
            </th>
            <td mat-cell *matCellDef="let student"> {{student.name}} </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
                ID
            </th>
            <td mat-cell *matCellDef="let student"> {{student.id}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
                Status
            </th>
            <td mat-cell *matCellDef="let student"> {{student.courses}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="hover:bg-thuas-groen-base/5 cursor-pointer" mat-row (click)="navigate(row.name)" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of students">
    </mat-paginator>
</app-container>

