<app-container>   
    <div class="flex flex-col sm:flex-row gap-10 mb-10">
        <div class="">
            <mat-card class="w-full lg:w-96 md:w-72 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex flex-rows-2 gap-5">
                    <div class="w-36 h-36 rounded-lg bg-thuas-groen-lighter">
                        <div class="flex w-full h-full items-center justify-center">
                            <p class="text-5xl font-medium text-thuas-grijs-base m-0 p-0 tracking-wide">{{ teacherAcronym }}</p>
                        </div>
                    </div>
                    <div class="flex h-full flex-col align-middle gap-1">
                        <h2>Teacher (you)</h2>
                        <div class="flex items-center gap-2">
                            <mat-icon>face</mat-icon>
                            <h4 class="m-0 p-0">{{ teacher.fullName }}</h4>
                        </div>
        
                        <div class="flex items-center gap-2">
                            <mat-icon class="scale-75">alternate_email</mat-icon>
                            <h4 class="m-0 p-0">{{ teacher.email }}</h4>
                        </div>
                    </div>
                </div>  
            </mat-card>
        </div>

        <mat-card class="flex flex-col w-full outline outline-1 outline-gray-300 shadow-none rounded-[12px]">
            <h2 class="">Select classes in your courses</h2>
            <mat-accordion class="rounded-[12px] shadow-none outline outline-1 outline-gray-300" multi>

                <mat-expansion-panel #panel1 class="shadow-none rounded-t-[12px]" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="flex w-full items-center font-base text-md">
                        <div class="flex w-full">
                            <div>
                                <div class="mr-4 ml-1 w-5 h-5 rounded-full bg-gray-100 ring-1 ring-offset-1 ring-gray-200"></div>
                            </div>
                            <p class="m-0 p-0">Programming</p>
                        </div>
                        <div class="flex w-full justify-end">
                            <mat-icon>{{panel1.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
                        </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
        
                  <div class="flex flex-col gap-2">
                    <mat-checkbox class="">Class 1</mat-checkbox>
                    <mat-checkbox class="">Class 2</mat-checkbox>
                    <mat-checkbox class="">Class 3</mat-checkbox>
                  </div>
    
                </mat-expansion-panel>
    
                <mat-expansion-panel #panel2 class="shadow-none border-t-[1px] border-gray-300" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="flex w-full items-center font-base text-md">
                        <div class="flex w-full items-center">
                            <div class="flex h-full">
                                <div class="mr-4 ml-1 w-5 h-5 rounded-full bg-gray-100 ring-1 ring-offset-1 ring-gray-200"></div>
                            </div>
                            <p class="m-0 p-0">Applied Mathematics</p>
                        </div>
                        <div class="flex w-full justify-end">
                            <mat-icon>{{panel2.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
                        </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
        
                  <div class="flex flex-col gap-2">
                    <mat-checkbox class="">Class 1</mat-checkbox>
                    <mat-checkbox class="">Class 2</mat-checkbox>
                    <mat-checkbox class="">Class 3</mat-checkbox>
                    <mat-checkbox class="">Class 4</mat-checkbox>
                  </div>
                </mat-expansion-panel>
    
                <mat-expansion-panel #panel3 class="shadow-none rounded-b-[12px] border-t-[1px] border-gray-300" hideToggle>
                    <mat-expansion-panel-header>
                    <mat-panel-title class="flex w-full items-center font-base text-md">
                        <div class="flex w-full">
                            <div>
                                <div class="mr-4 ml-1 w-5 h-5 rounded-full bg-gray-100 ring-1 ring-offset-1 ring-gray-200"></div>
                            </div>
                            <p class="m-0 p-0">Intercultural</p>
                        </div>
                        <div class="flex w-full justify-end">
                            <mat-icon>{{panel3.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
                        </div>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <div class="flex flex-col gap-2">
                    <mat-checkbox class="">Class 1</mat-checkbox>
                    <mat-checkbox class="">Class 2</mat-checkbox>
                    <mat-checkbox class="">Class 3</mat-checkbox>
                    <mat-checkbox class="">Class 4</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</app-container>
