<app-container>
    <div class="grid grid-col grid-cols-3 gap-2 ">
        <div class="flex justify-center">
            <mat-card class="w-72 h-64">
                <apx-chart
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [labels]="chartOptions.labels!"
                    [responsive]="chartOptions.responsive!">
                </apx-chart>
            </mat-card>
        </div>
        <div class="flex justify-center">
            <mat-card class="w-54 h-54">
                <apx-chart
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [labels]="chartOptions.labels!"
                    [responsive]="chartOptions.responsive!">
                </apx-chart>
            </mat-card>
        </div>
        <div class="flex justify-center">
            <mat-card class="w-54 h-54">
                <apx-chart
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [labels]="chartOptions.labels!"
                    [responsive]="chartOptions.responsive!">
                </apx-chart>
            </mat-card>
        </div>
    </div>
</app-container>

