<div class="px-5 py-5">

    <ng-container *ngIf="attendanceList.length == 0">
        <app-error-message></app-error-message>
    </ng-container>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        <ng-container *ngFor="let week of attendanceList">
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="[calculatePercentage(week.weekPossiblePresence, week.weekPresence)]"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week {{ week.numberOfWeek }}</h3>
                </div>
            </mat-card>
        </ng-container>
    </div>
</div>

