<div class="px-5 py-5">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="Attendance.series"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week 1</h3>
                </div>
            </mat-card>
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="Attendance.series"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week 2</h3>
                </div>
            </mat-card>
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="Attendance.series"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week 3</h3>
                </div>
            </mat-card>
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="Attendance.series"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week 4</h3>
                </div>
            </mat-card>
            <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 rounded-[12px] shadow-none outline outline-1 outline-gray-300">
                <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-2 w-full h-full">
                    <apx-chart
                    [series]="Attendance.series"
                    [chart]="Attendance.chart"
                    [labels]="Attendance.labels"
                    [plotOptions]="Attendance.plotOptions"
                    [fill]="Attendance.fill"
                    ></apx-chart>
                </div>
                <div class="px-5">
                    <h3 class="font-medium text-black/60 leading-none text-center">Week 5</h3>
                </div>
            </mat-card>
            
        </div>
</div>

